@model WebDocSach.Models.Book
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Thông tin về sách</h2>
<h2>@Html.DisplayFor(model => model.TenSach)</h2>
<div class="col-sm-12 col=md-12">
    <div class="img-thumbnail" style="text-align:center;">
        <img src="@Html.DisplayFor(model=>model.HinhAnh)" alt="thumbnail" style="width: 550px; height: 360px">
    </div>
    <div class="caption">
        <p>Tác giả: @Html.DisplayFor(model => model.TacGia)</p>
        <p>Thể loại: @Html.DisplayFor(model => model.IdTheLoai)</p>
        <p>Nội dung: @Html.DisplayFor(model => model.NoiDung)</p>
        <p>Tình trạng: @Html.DisplayFor(model => model.TinhTrang)</p>
        <p>Ngày đăng sách: @Html.DisplayFor(model => model.NgayTao)</p>

        <a target="_blank" href="@Model.Nguon" title="@Model."><button class="mg10 pt10 pr20 pb10 pl20" style="cursor:pointer;border:none; height:50px; background:#009bd5; color:#fff; border-radius:5px; margin-left: 0px;"><span class="fa fa-book pr10"></span>Đọc online</button></a>

        <p>
            
            @Html.ActionLink("Back", "Index", "", new { @class = "btn btn-dark" })
        </p>
    </div>
</div>
